@import 'tailwindcss';

@source "../../../src/**/*.{ts,tsx}";
@source "../../src/**/*.astro";

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 6px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a transparent;
}
