name: Discord Commit Notification

on:
    push:
        branches:
            - main

jobs:
    notify:
        runs-on: ubuntu-latest
        steps:
            - name: Send commit to Discord
              uses: ilshidur/action-discord@v1
              with:
                  webhook: ${{ secrets.DISCORD_WEBHOOK }}
                  message: |
                      Neuer Commit auf **${{ github.repository }}**:
                      ${{ github.actor }} hat gepusht:
                      ${{ github.event.head_commit.message }}
